
{% extends "layout.html" %}

	
{% block content %}

<!DOCTYPE html>
<html>
<head>


{% with from_dst_sort_order=3 %} 
	{% include "dst_title.html" %} 
{% endwith %} 
 

 <script id="code">

    function init() {
      if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      let $ = go.GraphObject.make;  // for conciseness in defining templates
      
	  myFullDiagram =
        $(go.Diagram, "fullDiagram",  // each diagram refers to its DIV HTML element by id
			{
				initialAutoScale: go.Diagram.UniformToFill,  // automatically scale down to show whole tree
				//maxScale: 0.80,

				contentAlignment: go.Spot.Center,  // center the tree in the viewport
				
				layout: $(go.TreeLayout,
				{ angle: 90, sorting: go.TreeLayout.SortingAscending } ),
				maxSelectionCount: 1,  // only one node may be selected at a time in each diagram

				// FROM https://github.com/NorthwoodsSoftware/GoJS/blob/master/extensions/TextEditor.html
				//"textEditingTool.defaultTextEditor": window.TextEditor,
				
				'undoManager.isEnabled': true, 
				
			} );


	let myNodeTemplate =
		$(go.Node, "Auto",
			{ 	locationSpot: go.Spot.Center,
				click: switchNodeColor,  },
				//doubleClick: addNewNode,  },
					
	<!-- FROM https://forum.nwoods.com/t/centering-textblocks-in-panels/7941/9  -->	
			// FROM https://forum.nwoods.com/t/issues-with-adding-a-node-dynamically-on-button-click/14066
			$( go.Panel, "Table",
			
			$(go.RowColumnDefinition, {row : 4, column : 5} ),
			
				new go.Binding("background", "fill_color"),
						
					$(go.Picture,
						{  row : 0, column : 0,
						   margin: 10, width: 60, height: 60, background: "red", alignment: go.Spot.Left, },
						new go.Binding("source") ) ,
							
					$(go.TextBlock, {  
						row : 1, column : 0,
						margin: 5, stroke:"black", textAlign: "center", font: "16pt sans-serif" }, 
						new go.Binding("text", "name")  ),
							
					$(go.TextBlock, { 
						row : 2, column : 0,					
						margin: 5, stroke:"black", textAlign: "center", font: "16pt sans-serif" }, 
						new go.Binding("text", "key")  ),

					$(go.TextBlock, {  
						row : 3, column : 0,					
						margin: 5, stroke:"black", textAlign: "center", font: "16pt sans-serif" }, 
						new go.Binding("text", "status").makeTwoWay(),
						new go.Binding("fill", "tb_fill_color").makeTwoWay(),
						new go.Binding("fill", "color2").makeTwoWay(),
						new go.Binding("stroke", "text_color").makeTwoWay(),	
						new go.Binding("stroke", "gt_color").makeTwoWay(),										
						new go.Binding("text", "class_name").makeTwoWay()  ),	
						
					// FROM https://gojs.net/latest/intro/buttons.html		
					$("TreeExpanderButton",  {
							row: 4, column: 0,
							//alignment: go.Spot.Bottom,
							//alignmentFocus: go.Spot.Top,
							name: 'TREEBUTTON',
							visible: true,	
						},
					$(go.TextBlock, "פתח רמה הבאה", { margin: 3 } ) ),	// FROM https://gojs.net/latest/intro/buttons.html
							

			),   // END Pane Table
			
        );
	
	// FROM https://github.com/NorthwoodsSoftware/GoJS/blob/master/samples/adornmentButtons.html	
	//myFullDiagram.nodeTemplate.selectionAdornmentTemplate =
	let selectionAdornmentTemplate =
	 $(go.Adornment, "Spot",
		{ visible: true },
		
		$(go.Panel, "Auto",
			$(go.Shape, { visible: true, stroke: "dodgerblue", strokeWidth: 2, fill: null }),
			$(go.Placeholder) ),
		

		$(go.Panel, "Horizontal",
		{ visible: true, alignment: go.Spot.Bottom, alignmentFocus: go.Spot.Top },


			// FROM https://github.com/NorthwoodsSoftware/GoJS/blob/master/samples/adornmentButtons.html
			$(go.Panel, "Spot",
				{ visible: true },
				//$(go.RowColumnDefinition, {row : 1, column : 2} ),



				// FROM https://github.com/NorthwoodsSoftware/GoJS/blob/master/samples/incrementalTree.html
				$("Button",  {
						//row: 0, column: 1,
						width: 80, height: 25,
						visible: true,
						//alignment: go.Spot.Left,
						//alignmentFocus: go.Spot.Top,
						name: 'NEWNODE',
						// customize the expander behavior to
						// create children if the node has never been expanded
						click: addNewNode 
					},
				$(go.TextBlock, "פתח חדש", { margin: 3 },  )  ),
			),

		)

	)

				
		myFullDiagram.nodeTemplate = myNodeTemplate;
		myFullDiagram.nodeTemplate.selectionAdornmentTemplate = selectionAdornmentTemplate

		// Define a basic link template, not selectable
		let myLinkTemplate =
			$( go.Link,
				{ routing: go.Link.Normal, selectable: false },
				$(go.Shape,
				{ strokeWidth: 2 } ),
				{ curve: go.Link.Bezier },  // Bezier curve

				$(go.Panel, "Horizontal", {
					segmentOffset: new go.Point(0, -10),
				} ),			
			);

		myFullDiagram.linkTemplate = myLinkTemplate;


		setupDiagram();
		
	}
	
	
// FROM https://forum.nwoods.com/t/dynamically-created-nodes-are-overlapping/9226
function addNewNode(e, selected_node) {

	let m = myFullDiagram.model
	let newNodeData
	//let newlink
	
	
	let a_node = selected_node.part.adornedPart;
	
	console.log("A-NODE-DATA ", a_node.data )
	
	myFullDiagram.startTransaction("addNode");
	
	
	newNodeData =  {
			key:         "New Node",
			parent:      a_node.data.key, 

			fill_color:  a_node.data.color,
			gt_color:    a_node.data.color,
			source:      a_node.data.image_url,
			name:        a_node.data.name,			
		}		
		m.addNodeData(newNodeData);
		
		/***********************8
		// locate the node initially where the parent node is
		myFullDiagram.findNodeForData(new_node).location = a_node.location;
	
		// and then add a link data connecting the original node with the new one
		let new_link = { from: node.data.key, to: new_node.key };
		m.addLinkData(new_link);
		*******************************/
	
	myFullDiagram.commitTransaction("addNode");

	/*********************************
	let new_gt = create_new_gt( selected_node.data.class_name )  // LET SERVER CREATE NEW GT WITH THE REQUESTED CLASS
	
	newNodeData =  {
			key:         gt.id,
			parent:      new_gt.id, 

			fill_color:  new_gt.color,
			gt_color:    new_gt.color,
			source:      new_gt.image_url,
			name:        new_gt.title,			
		}
	
	m.addNodeData( newNodeData );  // this makes sure the key is unique
	
	//m.addLinkData(newlink);    

	m.commitTransaction("add node and link");
	******************************************/
}
	  
	  
// SWITCH NODE BETWEEN GRAY AND COLOR
function switchNodeColor(e, selected_node) {

	let m = myFullDiagram.model
	
	m.startTransaction("changeNodeColor");
	
	if (selected_node.data.fill_color == "lightgray")
		m.setDataProperty(selected_node.data, "fill_color", selected_node.data.gt_color); //Retrieve the original dat	
	else	
		m.setDataProperty(selected_node.data, "fill_color", "lightgray"); //GRAY THE NODE	
	
	m.commitTransaction("changeNodeColor");
	
}	

	
let nodeDataArray = [];	
function setupDiagram() {
	
	
	let student_dsts = {{ student_dsts | safe }} 		
	for ( let i=0; i< student_dsts.length; i++ )  {  // DESTINATIONS
		let dest = student_dsts[i]										
		{% include './tree/dst_tree_dst_data.js' %}
		
		let dst_goals = {{dst_goals | safe}}			
		for ( let j=0; j< dst_goals.length; j++ )  {  // GOALS
			let goal = dst_goals[j]
			{% include './tree/dst_tree_goal_data.js' %}
			
			let dst_todos = {{dst_todos | safe}}
			for ( let k=0; k<dst_todos.length; k++ )  {  // TODOS
				let todo = dst_todos[k]
				{% include './tree/dst_tree_todo_data.js' %}
			}  //TODOS	
			
		}  //GOALS		
		
	}  // DESTINATIONS
	
	myFullDiagram.model = new go.TreeModel(nodeDataArray);

}
	
  </script>
</head>


<body onload="init()">
	<div id="fullDiagram" style="height:900px; width:100%; border:1px solid black;"></div>
</body>

</html>
{% endblock %}